<h1>Don miss these good servants!</h1>

<% @items.each do |item| %>
    <% if item.img_url.include?(".jpg")%>
      <div class="left">
        <%= image_tag item.img_url, :size =>'114x196' %></div>
        <div>Name:<%= item.name %></div>
        <div>Price:<%= item.price %></div>
        <div>What did (s)he do:<%= item.description %></div>
      <div class="clear"></div>
    <% else %>
    <div class="left">
        <%= image_tag 'none.png', :size =>'120x120' %></div>
        <div>Name:<%= item.name %></div>
        <div>Price:<%= item.price %></div>
        <div>What did (s)he do:<%= item.description %></div>
      <div class="clear"></div>
    <% end %>
<% end %>
check
